#root {
  max-width: 1280px;
  margin: 0;
  text-align: center;
}

.logo {
  max-width: 50%;
  
  min-height: 100px;

  width: auto;
  height: auto;

  justify-self: center;

  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;

}
.logo:hover {
  filter: drop-shadow(0 0 2em #db0000d8);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #d30000aa);
}

.background {
  background-image: url('../assets/woodbg.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  min-width: 100vw;
  image-resolution: 100%;
  background-repeat: repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.background h1, h2, h3 {
  margin: 0;
}

.flexbox {
  display: flex;
  justify-content: center;
}

.feedbg {
  width: 70%;
  height: 100vh;
  padding: 10px;
  
  /* background-color: green; */
  background-image: url('../assets/grass.jpg');
  
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  margin-bottom: 100px;

  border-style: hidden;
  border-radius: 10px;
}
