#root {
  max-width: 1280px;
  margin: 0;
  text-align: center;
}

.logo {
  height: 30vh;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #db0000d8);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #d30000aa);
}

.background {
  background-image: url('../assets/woodbg.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  min-width: 100vw;
  image-resolution: 100%;
}

.background h1, h2, h3 {
  margin: 0;
}

.flexbox {
  display: flex;
  justify-content: center;
}

.feedbg {
  width: 70%;
  padding: 10px;
  
  background-color: green;
  
  display: flex;
  justify-content: center;
  flex-direction: column;
}
